<span class="quiet">
  <%= link_to "Decommissioned", decommission_path(decommission) %> by <%= link_to decommission.staff.staff_name, staff_path(decommission.staff) %>
  on <%= decommission.created_at.strftime("%A, %d %B %Y") %> <br> 
  Confirmation last updated on <%= decommission.updated_at.strftime("%A, %d %B %Y") %>
</span>