<%= render "shared/page_title", title: "Download Stock Data" %>

<div class="row">
  <div class="col-md-1 col-md-offset-5 center">
    <h4><%= link_to "CSV Format", stockoutput_path(format: "csv") %></h4>
  </div>
  <div class="col-md-1 center">
    <h4><%= link_to "XLS Format", stockoutput_path(format: "xls") %></h4>
  </div>
</div>
