 <span class="quiet"><small>Wiped by <%= link_to wipe.wiped_by, wipe_path(wipe) %> on <%= wipe.date_wiped %> with the following method:
                            <%= wipe.wiped_using %></small></span>