<span class="quiet">
  <%= link_to "Wiped", wipe_path(wipe) %> by <%= link_to wipe.staff.staff_name, staff_path(wipe.staff) %>
  on <%= wipe.created_at.strftime("%A, %d %B %Y") %> <br> 
  Processed using the following method: <%= wipe.action_taken %>
</span>