$navbar-default-bg: #BE5555;
$mid-grey: #434343;
$mid-green: #28A358;
$dark-blue: #1D2935;
$navbar-default-color: $mid-grey;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// Stlying for boxes / links in navigation bar
.nav_styling {
  background-color: #FFFFFF;
  color: #434343;
  border-color: #434343;
  font-weight: bold;
}

.nav_styling:hover {
  background-color: #FFFFFF;
  color: #BE5555;
  border-color: #434343;
  font-weight: bold;
}

// Styling of the link boxes
.linkbox_styling {
  background-color: #BE5555;
  color: #FFFFFF;
  border-color: #BE5555;
  font-weight: bold;
}

.linkbox_styling:hover {
  background-color: #FFFFFF;
  color: #BE5555;
}

// Styling of the Turing Trust Logo in navbar
#logo {
  background-color: #FFFFFF;
  border-color: #434343;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: #434343;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #BE5555;
  text-decoration: none;
}

// Button Styling
.btn {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

.nav_item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
  
}

// General Styling
body{
  padding-top: 80px;
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.left {
  text-align: left;
  letter-spacing: .5px;
}

.footer {
  margin-top: 25px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.well {
  background-color: #EDEDED;
}

// Styling of new computers input components
input, textarea, select, .uneditable-input {
  border: 1px solid #D2D2D2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}