<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "Turing Trust","" , class: "btn btn-lg btn-success nav_styling", id: "logo" %>
    <div class="nav_item">
      <%= link_to "Wipe", "", class: "btn btn-default btn-warning nav-btn nav_styling" %>
    </div>
    <div class="nav_item">
      <%= link_to "Ship", "", class: "btn btn-default btn-warning nav_styling" %>
    </div>
    <div class="nav_item">
      <%= link_to "Receive", "", class: "btn btn-default btn-warning nav_styling" %>
    </div>
  </div>
</header>